.input {
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--c-grey-900);
  display: inline-block;
  font-family: inherit;
  height: 4rem;
  outline-style: none;
  padding: 0 1.2rem;
  width: 100%;
}