.movies-page {
  .movies-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    
    .movie-link {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 40rem;

      .movie-cover {
        border-radius: 8px;
        display: block;
        object-fit: contain;
        width: 100%;
      }
  
      .movie-title {
        color: white;
        display: block;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        width: 80%;
      }
    }
  }
}