.side-nav {
  background-color: rgba(var(--c-white), 0.75);
  height: 100%;
  left: 0;
  position: fixed;
  width: 6rem;
  z-index: 1;

  .side-nav-list {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }
}