:root {
  --font: 'Lato', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: #f1f1f1;
  --font-color: #444;
  --primary-color: orangered;

  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --bg-color: #1d0c20;
  --font-color: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font);
  font-size: 1.6rem;
  height: 100%;
}

#root {
  height: 100%;
  overflow-x: hidden;
}

a, a:visited {
  color: inherit;
  font-family: var(--font);
  text-decoration: none;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font);
  // padding: 0.8rem 2rem;
}

input {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  font-family: var(--font);
  outline-style: none;
  padding: 0.8rem 1.2rem;
}

ul, li {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
