.side-nav-item {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 4.8rem;
  width: 4.8rem;
  z-index: 1;

  .side-nav-link {
    align-items: center;
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    position: absolute;
    z-index: 1;

    &.active {
      .icon {
        color: rgb(var(--c-primary));
      }
    }

    &:hover {
      & + .link-label {
        opacity: 1;
        visibility: visible;
      }
    }

    .icon {
      color: var(--c-grey-800);
    }
    
  }

  .link-label {
    background-color: rgba(var(--c-white), 0.75);
    border-radius: 4px;
    color: var(--c-grey-900);
    left: 6.8rem;
    opacity: 0;
    padding: 0.4rem 0.8rem;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    transition:  200ms ease;
    visibility: hidden;
    z-index: 1;
  }
}