.slider {
  position: relative;

  &:hover {
    .btn-control {
      opacity: 1;
    }
  }

  .btn-control {
    background-color: rgba(var(--black-color), 0.25);
    color: rgb(var(--white-color));
    font-size: 3.2rem;
    height: 100%;
    opacity: 0;
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    transition: 200ms ease;
    width: 6.4rem;
    z-index: 1;

    &:hover {
      background-color: rgba(var(--black-color), 0.5);
      font-size: 4.4rem;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .slider-content {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 0 3.2rem;
    transition: 800ms ease;
  }
}